@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes typing {
    0%, 20% { content: "Physics"; }
    21%, 40% { content: "Chemistry"; }
    41%, 60% { content: "Maths"; }
    61%, 80% { content: "Coding"; }
    81%, 100% { content: "Engineering"; }
  }
  
  .changing-text::after {
    content: "Physics";
    animation: typing 8s infinite;
  }

  @keyframes fadeRight {
    0% {
      opacity: 0;
      transform: translateX(100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .fade-right {
    animation: fadeRight 0.5s ease-out forwards;
  }

  @keyframes fadeLeft {
    0% {
      opacity: 0;
      transform: translateX(-100px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .fade-left {
    animation: fadeLeft 0.5s ease-out forwards;
  }

  .transition-opacity {
    transition: opacity 0.3s ease-in-out;
  }
  
  
